* {
  margin: 0;
}

#titleheader {
  font-size: 70px;
  padding: 70px 0px;
  text-align: right;
}

img {
  margin: 10px auto;
}

#hometitle {
  height: 300px;
}

#abouttitle, #abouttitle > h1,h3, #devdawgs   {
  text-align: center;
  padding: 10px;
}

#devdawgs {
  color: #CD0029;
  font-size: 40px;
}

#eventstitle, #eventstitle > h1   {
  text-align: center;
  padding: 10px;
  background-color: #ffdde2;
}

#resourcestitle, #resourcestitle > h1   {
  text-align: center;
  padding: 10px;
  background-color: #ffdde2;
}

.navbar {
  background-color: #FBFBFB;
}