button {
  padding: 0.7rem;
  border-radius: 30px;
  width: 10rem;
  font-size: 1.5rem;
}

#joinus,
#joinus-si {
  background-color: #ba0c2f;
  color: #fbfbfb;
}

#learnmore {
  float: right;
  background-color: #222233;
  color: #ffffff;
}

#all-projects {
  background-color: #222233;
  color: #ffffff;
  width: 15rem;
  text-align: center;
}

#our-people {
  background-color: #ba0c2f;
  color: #ffffff;
  width: 15rem;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  button {
    padding: 0.4rem;
    border-radius: 30px;
    width: 8rem;
    font-size: 1.2rem;
  }

  #learnmore {
    background-color: #222233;
    color: #ffffff;
  }
}
