button {
    padding: 0.7rem;
    border-radius: 30px;
    width: 8rem;
    font-size: 1rem;
}

#joinus {
    background-color: #BA0C2F;
    color: #FBFBFB;
}

#learnmore {
    float: right;
    background-color: #222233;
    color: #FFFFFF;
}