.footer {
    
    
    

    background-size: 100% 125%;
    background-color: #fff8fc;
    background-image: url("../images/backgroundbottom.png");
    background-repeat: no-repeat;
    background-blend-mode: normal;
    
    max-width: 80rem;
    height: 20rem;

    margin-left: auto;
    margin-right: auto;
}

#UGA-Devdogs {
    align-content: space-between;
}

#align-links {
    align-content: space-between;
}

.box {
    background-color: #797979;
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px;
}

@media only screen and (max-width: 600px) {
    .footer {
        padding-top: 5rem;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .box {
        margin-right: 0px;
    }
}