.footer {
    display: grid; 
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    text-align: center;
    background-size: 100% 125%;

    background-color: #fff8fc;
    background-image: url("../images/backgroundbottom.png");
    background-repeat: no-repeat;
    background-blend-mode: normal;
    padding-top: 10rem;
    padding-left: 0.5rem;
    padding-bottom: 1rem;
    
    padding-right: 10%;
    padding-left: 10%;
    
    max-width: 80rem;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;

}

.box {
    background-color: #797979;
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px;
}

@media only screen and (max-width: 600px) {
    .footer {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
}