.footer {
    background-color: #fff8fc;
    background-size: auto;
    background-repeat: no-repeat;
    background-blend-mode: normal;
    padding-top: 10rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    
    max-width: 109.8rem;
    margin-left: auto;
    margin-right: auto;
}