
a {
    text-decoration: none;
    padding: 1rem;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: white;
}

.navbar {
    display: grid; 
    grid-template-columns: 27% 62%;
    align-items: center; 
    text-align: center;
    padding: 0.05rem; 
    background-color: #31304b;
    border-bottom: solid;   
    border-bottom-color: #201f32;
}

.links {
    
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#name2 {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    width:26rem;
    height:4.5rem;
    object-fit: cover;
}
