.header-title {
    width: 5rem;
    margin-right:10%;
    text-align: center;
    float: left;
    margin-left: -4.5%;
    margin-top: -10%;
    padding-top: 3.8rem;
}

.name-text-size {
    font-size: 1.8rem;
}

.header-image {
    width: 10rem;
    margin-left: 3%;
    margin-top: -6rem;
    text-align: left;
    float: left;
}

.padding {
    padding-top: 1rem;
}

.list {
    margin-left: 32%;
    margin-top: -6%;
}

.resource-card-container {
  width: 90%;
  border-radius: 2rem;
  box-shadow: 0px 10px 8px #999;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5rem;
  background-color: white;
  height: fit-content;
  padding: 1rem;
}

li {
    padding-bottom: 5%;
}

.links-list {
    margin-top: -2rem;
    margin-bottom: 2rem;
}

#link-color {
    color: black;
}

.list-text-size {
    font-size: 1.1rem;
}