#samples {
  /* Primaries */
  color: #ba0c2f; /* Bulldog Red */
  color: #33334d; /* DevDog Blue */
  color: #fff7f9; /* Barely Pink */
  color: #23221f; /* Nearly Black */
  color: #222233; /* Midnight Blue */
  color: #e4002b; /* Glory Glory Red */
  color: #ffffff; /* Pure White */
  color: #000000; /* Solid Black */

  /* Neutrals */
  color: #64575a; /* Mud Gray */
  color: #8a7d7d; /* Grout Gray */
  color: #aa999d; /* Pebble Gray */
  color: #d4ccc8; /* Limestone */
  color: #f2d9df; /* Dusty Pink */
  color: #d9ecec; /* Baby Blue */

  /* Complementaries */
  color: #00a3ad; /* Lake Herrick / Hope Blue */
  color: #f9bd9b; /* Gold */
  color: #e37c7c; /* Peach */
  color: #71ccd2; /* Wave */
}
