#samples {
  /* Red / Pink */
  color: #cd0029;
  color: #ba0c2f;
  color: #e37c7c;
  color: #8e5d5d;
  color: #fff8fc;
  color: #f1e9ed;

  /* Gray / Brown */
  color: #3a3a3a;
  color: #8a7d7d;
  color: #a49595;

  /* Blues */
  color: #31304b;
  color: #daebec;
  color: #e3e9e9;
}
