* {
  margin: 0;
}

#titleheader {
  font-size: 70px;
  text-align: right;
}

#abouttitle   {
  margin-top: 100px;
}

#abouttitle, #abouttitle > h1,h3, #devdawgs   {
  text-align: center;
  padding: 10px;
}

#abouttitle > h1, #devdawgs   {
  font-size: 3.5rem;
}

.section-header {
  font-size: 2.7rem;
}

.section-subheader {
  font-size: 1.75rem;
  padding-bottom: 0.4rem;
}

#teamtitle, #teamtitle > h1,h3, #devdawgs   {
  text-align: center;
  padding: 10px;
}

#teamtitle > h1   {
  font-size: 3.5rem;
}

#teamtitle > #officertitle   {
  font-size: 2.5rem;
}

#teamtitle, #teamtitle > h1   {
  text-align: center;
  
  padding: 10px;
}

#devdawgs {
  color: #CD0029;
  font-size: 3.3rem;
}

p {
  font-size: 1.2rem;
}


#eventstitle, #eventstitle > h1   {
  text-align: center;
  padding: 10px;
  font-size: 3.5rem;
  margin-bottom: 60px;
}

#resourcestitle, #resourcestitle > h1   {
  text-align: center;
  font-size: 3.5rem;
  padding: 10px;
}

#grid {
  margin: 10px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.section {
  background-color: #fff8fc;
  background-image: url("images/background.png");
  background-position-y: 0rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-blend-mode: normal;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 2rem;
  max-width: 80rem;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.section-home {
  background-size: 100% 82%;
}

.section-resources {
  background-size: 100% 90%;
  background-position-y: -3rem;
}

.section-about {
  background-position-y: -15rem;
  background-size: 100% 75%;
  background-blend-mode: normal;
}

.center {
  display: block;
  text-align: center;
}

.section img {
  object-fit: cover;
}

#base-background {
  background-color: #201f32;
}

#filler {
  padding-top: 300px;
  height: 400px;
}

#padding {
  padding-top: 8rem;
}

#whoweare {
  margin-top: 100px;
}

.red-bold {
  display: inline;
  color: #CD0029;
}

.dark_red-bold {
  
  color: #BA0C2F;
}

#mockup {
  width:100%;
  height:100%;
}

#demo {
  width:100%;
  height:100%;
}

#mascot {
  width:100%;
  height:100%;
  max-width: 100%;
  max-height: 100%;
}

#big {
  font-size: 3.5rem;
}

.max-img-size {
  width: 1rem;
  height: 1rem;
}

iframe {
  border: 0;
  width: 800px;
  height: 600px;
  display: block;
  padding: 10px;
  margin: auto;
}