@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");

@font-face {
  font-family: "BaruSans";
  src: url("../../public/fonts/BaruSansDemo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  font-family: myriad-pro, "Heebo", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Heebo", sans-serif;
}

#titleheader {
  font-size: 70px;
  text-align: right;
}

#abouttitle,
#eventtitle,
#sponsortitle,
#teamstitle,
#tiertitle {
  text-align: center;
  padding: 10px;
  margin-top: 100px;
}

#abouttitle > h1,
h3,
#devdawgs,
#teamtitle,
#teamtitle > h1 {
  text-align: center;
  padding: 10px;
}

#abouttitle > h1,
#eventtitle > h1,
#teamstitle > h1,
#sponsortitle > h1,
#tiertitle > h1 {
  font-size: 3.5rem;
}

#tiertitle {
  font-size: 2rem;
}

.section-header {
  font-size: 2.7rem;
}

.section-header-center {
  font-size: 2.7rem;
  text-align: center;
}

.section-subheader {
  font-size: 1.75rem;
  padding-bottom: 0.4rem;
}

#teamtitle > h1 {
  font-size: 3.5rem;
}

#teamtitle > #officertitle {
  font-size: 2.5rem;
}

#devdawgs {
  color: #cd0029;
  font-size: 3.3rem;
}

p {
  font-size: 1.5rem;
}

#eventstitle,
#eventstitle > h1 {
  text-align: center;
  padding: 10px;
  font-size: 3.5rem;
  margin-bottom: 60px;
}

#resourcestitle,
#resourcestitle > h1 {
  text-align: center;
  font-size: 3.5rem;
  padding: 10px;
}

#grid {
  margin: 10px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 7vw;
}

.page-main-side-padding {
  padding-left: 4rem;
  padding-right: 4rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.section {
  background-color: #fff8fc;
  background-image: url("images/background.png");
  background-position-y: 0rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: normal;

  padding-top: 2rem;
  max-width: 80rem;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.section-sponsor {
  background-size: 100% 70%;
  background-position-y: -3rem;
}

/* Do not uncomment, broken styles, waiting to remove
.section-home {
  background-size: 100% 45%;
}

.section-resources {
  background-size: 100% 30%;
  background-position-y: -3rem;
}

.section-team {
  background-size: 100% 40%;
  background-position-y: -3rem;
}

.section-event {
  background-size: 100% 40%;
  background-position-y: -3rem;
}

.section-about {
  background-position-y: -15rem;
  background-size: 100% 35%;
  background-blend-mode: normal, saturation;
  background-image: url("images/background.png"), url("images/background.png");
  background-position: top, bottom;
  background-repeat: no-repeat, no-repeat;
}
  */

#bg-padding {
  background-color: #ba0c2f;
  padding-bottom: 10px;
}

.center {
  display: block;
  text-align: center;
}

.section img {
  object-fit: cover;
}

#base-background {
  background-color: #f1e9ed;
}

#filler {
  padding-top: 300px;
  height: 400px;
}

#padding {
  padding-top: 8rem;
}

#whoweare {
  font-size: 3rem;
}

#impact {
  font-size: 3rem;
  text-align: center;
}

.red-bold {
  display: inline;
  color: #cd0029;
}

.dark_red-bold {
  color: #ba0c2f;
}

#mockup {
  width: 100%;
  height: 100%;
}

#demo {
  width: 100%;
  height: 100%;
}

#mascot {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

#about-us-mascot {
  width: 80%;
  height: 80%;
  margin-left: 10%;
}

#leadership {
  margin-bottom: 6.5rem;
  font-size: 1.8rem;
}

#team-bottom-padding {
  margin-bottom: 4rem;
}

#big {
  font-size: 4.5rem;
}

.max-img-size {
  width: 1rem;
  height: 1rem;
}

iframe {
  border: 0;
  width: 800px;
  height: 600px;
  display: block;
  padding: 10px;
  margin: auto;
}

#iframe-test {
  width: 100%;
  border: none;
}

.impact-section {
  display: block;
  align-items: center;
}

.button-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#tiers {
  display: flex;
  justify-content: center;
}

#bronze {
  background-color: #ad665c;
}

#silver {
  background-color: #d8bcbc;
}

#gold {
  background-color: #f9bd9b;
}

#platinum {
  background-color: #c6c6c6;
}

#custom {
  background-color: #f08787;
}

@media only screen and (max-width: 600px) {
  .section-home {
    background-size: 100% 20%;
  }

  .section-resources {
    background-size: 100% 30%;
    background-position-y: -3rem;
  }

  .section-team {
    background-size: 100% 40%;
    background-position-y: -3rem;
  }

  .section-event {
    background-size: 100% 25%;
    background-position-y: -3rem;
  }

  .section-sponsor {
    background-size: 100% 25%;
    background-position-y: -3rem;
  }

  .section-about {
    background-position-y: -15rem;
    background-size: 100% 18%;
    background-blend-mode: normal, saturation;
    background-image: url("images/background.png"), url("images/background.png");
    background-position: top, bottom;
    background-repeat: no-repeat, no-repeat;
  }

  #who-we-are {
    display: block;
    text-align: center;
  }

  .hometitle {
    color: black;
    padding: 0.1rem;
    font-size: 1rem;
  }

  #big {
    font-size: 2rem;
  }

  #demo {
    width: 100%;
    height: 100%;
  }

  .section-header {
    font-size: 2rem;
  }

  .section-subheader {
    font-size: 1.5rem;
    padding-bottom: 0.4rem;
  }

  #abouttitle {
    margin-top: 50px;
  }

  #abouttitle,
  #abouttitle > h1,
  h3,
  #devdawgs {
    text-align: center;
    padding: 20px;
  }

  .section-event > h1 {
    font-size: 2rem;
  }

  #abouttitle > h1,
  #devdawgs {
    font-size: 3rem;
  }

  #whoweare {
    font-size: 2rem;
  }

  .section-about .grid {
    display: block;
    text-align: center;
  }

  #grid {
    margin: 10px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .page-main-side-padding {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  #iframe-test {
    width: 400px;
    height: max-content;
    border: none;
  }
}
