

.button-grid {
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
}

.grid > #description {
    text-align: end;
}
.section-header {
    font-size: 25px;
}

.section-subheader {
    font-size: 20px;
}

.header {
    text-align: center;
}