

.button-grid {
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
}

.grid > #description {
    text-align: end;
}
.section-header {
    font-size: 2.7rem;
}

.section-subheader {
    font-size: 1.75rem;
    padding-bottom: 0.4rem;
}

p {
    font-size: 1.3rem;
}

.header {
    text-align: center;
}

.title {
    color: black;
    padding: 0.5rem;
    font-size: 3rem;
    
  }